bot_hasher.code-workspace
F16.session
#
# при запуске бота папка для логов, создастся автоматически
/log_file 
# папка для фрагментов 
/diff_video 
# папка для хранения файлов БД, создается автоматически
/db_storage
